.about-container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-left: 2%;
}

/* someone end the suffering... */

@media (max-width: 768px) {
  .about-container {
    width: 90%;
    max-width: 100%;
    padding: 0;
    
  }
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  position: relative; /* allows absolute children */
  display: inline-block;
}

.about-img {
  width: 100%;
  height: auto;
}

.apply-overlay {
  position: absolute;
  top: 15.3%; 
  left: 55%;
  transform: translateX(-50%);
  background: #2d518b;
  border: 4px solid white;
  padding: 5%;
  width: 43%;
  height: 7%;

  text-align: center;
  color: white;
  font-size: 3.5vw;

  border-radius: 10px;
}

.dashed-lines1 {
  position: absolute;
  top: 15.2%;
  left: 55%;
  transform: translateX(-50%);
  border: 1px dashed white;
  padding: 5%;
  width: 44.1%;
  height: 7.6%;

  border-radius: 10px;
}

.dashed-lines2 {
  position: absolute;
  top: 15%;
  left: 55%;
  transform: translateX(-50%);
  border: 1px dashed white;
  padding: 5%;
  width: 45%;
  height: 8.1%;

  border-radius: 10px;
}

.apply-link {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

.apply-link:hover {
  color: #00aeff; /* optional hover highlight */
}

p {
  margin: 0;
}
