.art-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10%;
  gap: 35px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.mid-vert {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

