.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15.5vw;
  height: 100vh;
  background-color: var(--color-5);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
  overflow-wrap: break-word;
}

.sidebar-header {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.sidebar-header h2 {
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
}

.sidebar-header p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.sidebar-divider {
  margin: 10px 0;
  border-top: 2px dashed white;
  width: 100%;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  height: 100%;
}

.sidebar-link {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  padding: 8px 0;
}

@media (max-width: 768px) {
  .sidebar {
    padding-top: 40px;
  }
}

.sidebar-link:hover {
  background-color: #3b4d6b;
  color: #fff;
}

/* line + dot effect */
.sidebar-link::before {
  --dot-size: 6px;
  content: "";
  position: absolute;
  left: 0;
  top: 60%;
  width: 2px;
  height: 40px;
  background: white;
  transform: translateY(-50%);
}

.sidebar-link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  margin-top: 5px;
  height: 2px;
  background: white;
}

.sidebar-dot {
  position: absolute;
  top: calc(100% + 2px); /* aligns with your line */
  right: 0px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
}

.sidebar-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: var(--color-5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 20;
  display: none;
}

@media (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }

  .sidebar {
    width: 45vw;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar.closed {
    transform: translateX(-100%);
  }
}
